*{
  padding: 0;
  margin: 0;

  font-size: 1.5rem;

font-family: Outfit, sans-serif;
}

main{
  width: 100%;
  height: 100%;
}

.container{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;


  background-color: rgb(248, 241, 237);
}

.right-bar{
  width: 25vw;
  height: 100vh;

  background-color: rgba(221, 206, 199, 1);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  width: 75vw;
}

.logo{
  width: 100px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 7.5px;
  margin-left: 30px;
  
  background-color: rgba(221, 206, 199, 1);
}

.menu{
  display: flex;
   margin-right: 30px;

   color: rgb(158, 141, 134);
}
h2{
  margin: 5px;
  font-size: 0.8rem;

  font-weight: black;
}

img{
  width: 80%;
}

.canva{
  width: 75vw;
  height: 100vh;

  display: flex ;
  justify-content: center;
  align-items: center;
}

.image{
  width: 75%;

  filter: drop-shadow(5px 5px 150px rgba(133, 103, 88, 0.616));
}

.right-bar{
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.tab{
  height: 70vh;
  width: 100%;

  background-image: url(Galeria/fotos/tab-right.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.notion{
  width: 100%;
  height: 30vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.notpad{
  font-size: 40px;
  font-weight: 900;
}


.doc{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.galeria{
  width: 35vw;
  height: 90%;

}

.inf-form{
  width: 25vw;
  height: 90%;

  background-color: aqua;
}

.image-grand{
  height: 55vh;
  width: 100%;

  margin: 10px 0 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.image-min{
  height: 30vh;
  width: 100%;

  margin: 10px 0 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(144, 81, 81);
}


.ta{
  background-image: url(Galeria/fotos/Grand.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.te{
  background-image: url(Galeria/fotos/Grand\ \(2\).png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.to{background-image: url(Galeria/fotos/Grand\ \(4\).png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ti{
  background-image: url(Galeria/fotos/Grand\ \(3\).png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inf-form{
  background-color:  rgba(221, 206, 199, 1);

  height: 87%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.text-short{
  height: 60%;
  margin: 5%;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


input{
  width: 85%;
  height: 30px;

  margin: 0px;

  border-radius: 15px;

  border: none;
  font-size: 10px;
  text-align: center;
}

.btn{
  width: 65%;
  height: 45px;
}



form{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 

  margin: 5%;

  font-size: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 

}



















@media (min-width: 1920px) {

  .notpad{
    font-size: 50px;
    font-weight: 900;

    margin: 0;
  }
 

}

@media (max-width: 1920px) {

  .notpad{
    font-size: 40px;
    font-weight: 900;

    margin: 0;
  }
  

}

@media (max-width: 1780px) {

  .notpad{
    font-size: 35px;
    font-weight: 900;

    margin: 0;
  }
 
  
}

@media (max-width: 1360px) {

  .notpad{
    font-size: 30px;
    font-weight: 900;

    margin: 0;
  }


  
}

@media (max-width: 1280px) {

  .notpad{
    font-size: 25px;
    font-weight: 900;

  }
  
  
  .text-short{
    font-size: 15px;
    font-weight: 300;

  }

  .input{
    margin: 6.6px;
    height: 25px;

  }
}

@media (max-width: 1200px) {

  .notpad{
    font-size: 23px;
    font-weight: 900;

    margin: 0;
  }
  
  .text-short{
    font-size: 14px;
  }

  
}

@media (max-width: 800px) {

  .notpad{
    font-size: 20px;
    font-weight: 900px;

    margin: 0;
  }

 
  
}

@media (max-width: 700px) {

  .notpad{
    font-size: 17px;
    font-weight: 900;

    margin: 0;
  }


  
}

@media (max-width: 600px) {

  .notpad{
    font-size: 15px;
    font-weight: 900;

    margin: 0;
  }


  
}

@media (max-width: 500px) {

  .notpad{
    font-size: 10px;
    font-weight: 900;

    margin: 0;
  }

 
}

@media (max-width: 400px) {

  .notpad{
    font-size: 8px;
    font-weight: 900;

    margin: 0;
  }
}